/* Dashboard */
.dashboardContainer{
  width: 100%;
  min-height: 94vh;
  position: relative;
}
.dashboardContentContainer{
  position: absolute;
  left: 2%;
  height: 90%;
  width: 96%;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
}
.dashboardContentStore{
  position: relative;
  left: 10%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
}
.dashboardContent{
  height: 100%;
  background-color: transparent;
  border-radius: 5px;
  display: flex;
  gap: 12px;
}
/* Dashboard Inputs */
.dashboardInputs input{
  padding: 6px;
  margin-top: 8px;
  width: 59%;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 80%);
}
.dashboardContentStore input[type = "submit"]{
  border: none;
  outline: none;
  width: 100%;
  background: #38C9F2;
  border-radius: 5px;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1.2px;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  margin-top: 8px;
  transition: 0.3s;
}
.dashboardContentStore input[type = "submit"]:hover{
  background: #2cb1d6;
  color: #1D242E;
}
/* Select Store */
.css-b62m3t-container {
  max-height: 38px;
}
.card{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  width: 100%;
  min-height: 335px;
  flex: 1;
  border-radius: 5px;
  background-color: #1D242E;
}
.cardTop{
  max-height: 170px !important;
  min-height: 170px;
}
.twoSpaces{
  grid-area: 1 / 1 / 2 / 3;
  display: grid;
  padding: 8px;
  grid-template-columns: repeat(4 , 1fr);
  box-sizing: border-box;
}
/* Responsive */
@media (max-width: 1500px) {
  .dashboardContentStore{
    left: 2%;
    width: 96%;
  }
}
@media (max-width: 1350px) {
  .dashboardContent{
    flex-direction: column;
  }
}
@media (max-width: 1350px) {
  .dashboardContent{
    flex-direction: column;
  }
}
@media (max-width: 1100px) {
  .dashboardContentContainer{
    grid-template-columns: 1fr;
  }
  .dashboardContent{
    flex-direction: row;
  }
}
@media(max-width: 900px){
  .dashboardContentStore{
    grid-template-columns: 1fr 1fr;
    height: 180%;
  }
  .filters{
    grid-area: 1 / 1 / 2 / 3;
  }
  .dashboardInputs input{
    width: 100%;
    box-sizing: border-box;
  }
}
@media (max-width: 650px) {
  .dashboardContentContainer, .dashboardContentStore{
    height: 130%;
    left: 5%;
    width: 90%;
  }
  .dashboardContentStore{
    grid-template-columns: 1fr;
  }
  .twoSpaces{
    grid-area: 1;
  }
  .filters{
    grid-area: 1;
  }
  .dashboardContent{
    flex-direction: column;
  }
}
@media (max-height: 670px){
  .dashboardContentContainer{
    position: inherit;
  }
  .dashboardContent{
    margin-bottom: 12px;
  }
}



/* Make Specific CSS */
.productChart{
  height: 150px;
  max-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.productChartInfo{
  display: flex;
  flex-direction: column;
  height: 50px;
}
.productChartInfo p{
  margin: 0;
  color: #fff;
  text-align: center;
}