@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;500&display=swap');

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif;
  background-color: #EDF2F6;
}
a {
  color: inherit;
  text-decoration: none;
}

/* Logo CSS */
.logo-face-white{
  fill: none;
  stroke: #fff;
  stroke-width: 6px;
}
.logo-eye-white{
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
}
.logo-face-dark{
  fill: none;
  stroke: #000;
  stroke-width: 6px;
}
.logo-eye-dark{
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}
/* Logo */
/* Navigation Links */
.navigationLink{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  transition: 0.3s;
  position: relative;
  font-size: 14px;
  cursor: pointer;
}
.navigationLink:hover{
  color: #38C9F2;
}
.navigationLink::before{
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #38C9F2;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: right;
}
.navigationLink:hover::before{
  transform: scale(1);
  transform-origin: left;
}